alabaster==0.7.10
alta-interface==1.0.0.dev0
arrow==0.15.2
atdb-interface==1.0.4
atdb-services==1.0.6
Babel==2.4.0
binaryornot==0.4.4
blinker==1.4
boto==2.44.0
certifi==2022.12.7
chardet==3.0.4
click==6.6
colorama==0.3.7
cookiecutter==1.6.0
coverage==4.2
cssmin==0.2.0
Django==2.0.3
django-cors-headers==2.0.2
django-filter==1.0.4
django-polymorphic==2.0.2
django-webpack-loader==0.4.1
djangorestframework==3.5.3
docutils==0.13.1
dsmr-parser==0.13
future==0.18.1
httpie==0.9.9
idna==2.7
imagesize==0.7.1
Jinja2==2.9.6
jinja2-time==0.2.0
Markdown==2.6.7
MarkupSafe==1.0
pilkit==1.1.13
poyo==0.5.0
psycopg2==2.6.2
PyCRC==1.21
Pygments==2.2.0
pyserial==3.4
pyserial-asyncio==0.4
python-dateutil==2.8.0
pytz==2019.2
pywin32==223
requests==2.20.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.5
sphinx-rtd-theme==0.2.4
urllib3==1.24.1
virtualenv==15.1.0
whichcraft==0.6.1
